<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>analysing text</title>

    <style>


        body
          {
          background: url('bubbletemplates.jpg');
           background-repeat:no-repeat;
        }

        .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;

}
    </style>
</head>
<body>

<!--<h1>your analyse text {{ purpose }}</h1>-->
<div>


<h1> hello {{ analysed_text }}</h1>
<form action='/'>


<button type="submit" class="btn btn-success" mt=2>back</button>




</form>
</div>
</body>
</html>